@model Rol;
@{
	ViewData["Title"] = "Editar rol";
}

<form method="post" action="/Rol/Guardar">
	<div class="card">
		<div class="card-header">
			Nuevo rol
			<input type="hidden" name="IdRol" id="IdRol" value="@Model.IdRol" />
		</div>
		<div class="card-body">
			<p class="card-text">Nombre: </p>
			<input type="text" id="NombreRol" name="NombreRol" class="form-control" required value="@Model.NombreRol" />
			<p class="card-text">Descripcion: </p>
			<input type="text" id="Descripcion" name="Descripcion" class="form-control" required value="@Model.Descripcion" />
			<br />
			<p class="card-text">Estado: </p>
			@Html.DropDownList("EstadoRol", new List<SelectListItem>
			{
			new SelectListItem { Text = "Activo", Value = "Activo" },
			new SelectListItem { Text = "Inactivo", Value = "Inactivo" }
			}, new { @class = "form-control" })
		</div>
		<div class="card-footer">
			<button type="submit" class="btn btn-primary mb-3" style="width:auto">Guardar</button>
			<a class="btn btn-danger mb-3" style="width:auto" href="/rol/listar">Cancelar</a>
		</div>
	</div>
</form>